<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__inner__sitemap">
                <ul>
                    <li>
                        <a href=@Roots.Bagrut>
                            @Icons.Bagrut Подготовка к багруту
                        </a>
                    </li>
                    <li>
                        <a href=@Roots.QuickHelp>
                            @Icons.QuickHelp Скорая мат. помощь
                        </a>
                    </li>
                    <li>
                        <a href=@Roots.Mathematics>
                            @Icons.Mathematics Школьная математика
                        </a>
                    </li>
                    <li>
                        <a href=@Roots.Olympics>
                            @Icons.Olympics Олимпиады
                        </a>
                    </li>
                    <li>
                        <a href=@Roots.MathHebrew>
                            @Icons.MathHebrew Математический иврит
                        </a>
                    </li>
                    <li>
                        <a href=@Roots.Blog>
                            @Icons.Blog Заметки на полях
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__inner__contacts">
                <ul>
                    <li>
                        <a href="tel:+972557703882">
                            <MdIcon Name="phone"/>
                            <span>(+972)55-77-03-882</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:moremath.haifa@gmail.com">
                            <MdIcon Name="email-fast" />
                            <span>moremath.haifa@gmail.com</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://t.me/moremath_tg">
                            <MdIcon Name="send-variant-outline" />
                            <span>t.me/moremath_tg</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://wa.me/972557703882">
                            <MdIcon Name="whatsapp" />
                            <span>WhatsApp</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer>


@code {

}
